<a href="https://colab.research.google.com/github/yashpanday79/Starts_Projects/blob/main/Student_marks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('/content/Placement_Data_Full_Class.csv')

In [ ]:
data.head()

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0

[5 rows x 15 columns]

In [ ]:
data.drop(columns=['sl_no','gender','hsc_p','hsc_b','hsc_s','degree_t','workex','specialisation','status'],inplace=True)

In [ ]:
data.drop(columns='ssc_b',inplace=True)

In [ ]:
new_data=data.interpolate()

In [ ]:
x = new_data
X= x.drop(columns='salary')
Y = x['salary']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=.20,random_state=2)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

scaler = StandardScaler()
X_train_trn = scaler.fit_transform(x_train)
X_test_trn = scaler.fit_transform(x_test)

accuracy_score(y_test,LogisticRegression().fit(X_train_trn,y_train).predict(X_test_trn))

0.2

In [ ]:
from sklearn.svm import SVC
accuracy_score(y_test,SVC(kernel='rbf').fit(x_train,y_train).predict(x_test))

0.2

In [ ]:
svc = SVC(kernel='rbf')
svc.fit(x_train,y_train)


import pickle
pickle.dump(svc,open('model.pkl','wb'))

In [ ]:
new_data.head()

   ssc_p  degree_p  etest_p  mba_p    salary
0  67.00     58.00     55.0  58.80  270000.0
1  79.33     77.48     86.5  66.28  200000.0
2  65.00     64.00     75.0  57.80  250000.0
4  85.80     73.30     96.8  55.50  425000.0
7  82.00     66.00     67.0  62.14  252000.0